<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-signin" th:action="@{/addroles}" method="post">
  <input type="text" class="form-control" placeholder="Username"  name="username" />
    <input type="number" class="form-control" placeholder="id"  name="id"/>
  <input type="text" class="form-control" placeholder="text"  name="role"/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">ADD role</button>
</form>
</body>
</html>